<form [formGroup]="form" class="form" (ngSubmit)="editpokemon($event)" >
    <div class="row">
      <div class="col-6 mb-3">
        <label for="namePokemon" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" id="namePokemon" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Name Pokmeon</div>
      </div>
  
      <div class="col-6 mb-3">
        <label for="statusPokemon" class="form-label">Status</label>
        <select formControlName="status" id="statusPokemon" class="form-select" aria-label="Default select example"  >
          <option value="A">A</option>
          <option value="I">I</option>
        </select>
      </div>
  
      <div class="col input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
        <select formControlName="category"  class="form-select" >
            <option  [ngValue]="c" *ngFor="let c of category" selected="{{pokemon?.category?.idcategory ==  c.idcategory}} ">{{c.name}}</option>
        </select>
    </div>
   
    </div>
  
    <button type="submit" class="btn btn btn-primary w-100" >edit</button>
  </form>