a {
  border: none;
  border-radius: 3px;
  text-align: center;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.perfil {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (min-width: 992px) {

  .perfil {
    position: absolute;
    right: 0;
    margin: 0 20px 0px 0px;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: column;
}
}
