<mat-card >
    <a [routerLink]="['/products/',product.id]" style="text-decoration: none; color: black;">
    <mat-card-header>
            <mat-card-title>
                {{product.title |uppercase}}
            </mat-card-title>
            <mat-card-subtitle>
                {{product.price| currency}}
            </mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img class="imagen" [src]="product.img" >
    </div>
    <mat-card-content>
        <p>{{product.description | slice:0:20}}</p>
        <p>{{today | date:'short' }}</p>
    </mat-card-content>
</a>
    <mat-card-actions>
        <button (click)="addCar()" class="boton" mat-raised-button >agregar al carrito</button>
    </mat-card-actions>

</mat-card>