<div class="container">
  <button class="btn btn-info m-2"  data-bs-toggle="modal" data-bs-target="#modal-nuevoUsuario">Agregar nuevo</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Roles</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ usuario.firstname }} {{usuario.lastname }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td *ngFor="let rol of usuario.roles">{{ rol.name == "ROLE_MODERATOR"? "Moderador":(rol.name == "ROLE_USER"?"Usuario":"Administrador") }}</td>
        <td>{{ usuario.status == "A"? "Activo" : "Inactivo" }}</td>
        <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion" (click)="obtenerUsuario(usuario)">Eliminar</button>
        <a class="btn btn-secondary" (click)="obtenerUsuarioId(usuario)">Editar</a></td>
      </tr>
    </tbody>
  </table>

  <app-nuevo-usuario (usuarioGuardado)="onUsuarioGuardado($event)"></app-nuevo-usuario>
  
  <app-modal-confirm 
  [idUsuarioAEliminar]="usuarioSeleccionado"
  (eliminarUsuario)="delete($event)"
  ></app-modal-confirm>
   
</div>

