<form [formGroup]="form" class="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input type="number" matInput formControlName="idProduct" placeholder="Id">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input type="text" matInput formControlName="title" placeholder="Titulo">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input type="number" matInput formControlName="price" placeholder="Precio">
                    </mat-form-field>

                </div>
                <div class="col-6">
                    <mat-form-field>
                        <textarea type="text" matInput formControlName="description"
                            placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary"> Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>