.continer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: center;
}

.card {
    border: none;
    margin: 3%;
    height: auto;
    width: 100%;
}
.card-body{
 overflow: hidden;
 overflow-y: scroll;
 overflow-x: scroll;
}

.card-title{
    padding: 0.5%;
    padding-bottom: 0px;
}
