
<div *ngIf="product">
  <div class="card" >
    <img [src]="product.img" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">Precio: {{product.price | currency}}</p>
      <p class="card-text">Descripcion: {{product.description}}</p>
      <p class="card-text">Precio: {{product.price}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <button (click)="crearProduct()">crear</button>
    <button (click)="updateProduct(product.id)">update</button>
    <button (click)="deleteProduct(product.id)">delete</button>
  </div>
</div>
