<footer>
    <div class="row">
        <div class="col">
            <div class="store">
                <p>Store </p><mat-icon>store</mat-icon>
            </div>
            <div class="row">
                <a routerLink="/home" routerLinkActive="active">home</a>
                <a routerLink="/products" routerLinkActive="active">Productos</a>
                <a routerLink="/contact" routerLinkActive="active">Coctacto</a>
            </div>
        </div>
        <div class="col">
            <p>Acerca de nosotros</p>
            <p>¿Acerca de nostros y quienes somos? No sé</p>
            <mat-form-field>
                <input matInput [formControl]="emailField" type="email" placeholder="email">
            </mat-form-field>
            <button mat-raised-button [disabled]="emailField.invalid"  (click)="sendEmail()">Enviar</button>
        </div>
    </div>
</footer>