html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* { }

.pokemon-grid {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px 20px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .pokemon-grid {
        margin: 1%;
        grid-template-columns: repeat(4, 1fr);
    }

    .container {
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}