#navbarNav{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.container-fluid{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}