<mat-toolbar>
    <div class="row header-row middle-xs">
        <nav class="col-11">
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active">Productos
            </a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
            <a mat-button routerLink="/integracion/home" routerLinkActive="active">home1</a>
            <a mat-button routerLink="/integracion/contacto" routerLinkActive="active">contacto2</a>
            <a mat-button routerLink="/coscu" routerLinkActive="active">coscu</a>
            <a mat-button routerLink="/coscu/home" routerLinkActive="active">coscu Home</a>

        </nav>
        <a routerLink="order" mat-raised-button [matBadge]="total$ |async" class="col-1">
            <mat-icon>shopping_cart</mat-icon>
        </a>
    </div>
</mat-toolbar>