<div class="continer ">
    <div class=" welcome">
        <h5 >¡Nice to see you again!</h5>
        <h1>Welcome Back</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto sunt et amet repudiandae ipsam dignissimos
            optio dolor laboriosam debitis, quibusdam labore quia. Dolore suscipit assumenda nostrum autem commodi velit
            quo!</p>
            <a class="btn btn-dark btn-home" routerLink="/home" routerLinkActive="active" >Return Home</a>
    </div>
    <div class=" log-in shadow">
        <h5>login Acount</h5>
        <form class="m-2">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <a routerLink="sigin" routerLinkActive="active">don't you have an account?, Create acount</a>
            </div>
            <button type="submit" class="btn btn-dark w-100">Submit</button>
        </form>
    </div>
</div>