<main class="about">
  <section>
    <h2>Nuestra Historia</h2>
    <p>Descubre la historia de nuestra inmobiliaria, fundada en 2000. Desde nuestros humildes comienzos
      como una pequeña empresa familiar, hemos crecido y nos hemos consolidado como una de las principales inmobiliarias
      de la región. A lo largo de los años, hemos brindado servicios de calidad y hemos ayudado a numerosos clientes a
      encontrar el hogar de sus sueños o a vender sus propiedades con éxito.</p>
  </section>

  <section>
    <h2>Nuestro Equipo</h2>
    <p>En nuestra inmobiliaria, contamos con un equipo de profesionales apasionados y altamente capacitados en el campo
      inmobiliario. Nuestros agentes inmobiliarios están comprometidos en brindar un servicio excepcional a nuestros
      clientes. Desde agentes de ventas hasta expertos en marketing y especialistas en gestión de propiedades, cada
      miembro de nuestro equipo desempeña un papel crucial en el éxito de nuestra inmobiliaria.</p>
  </section>

  <section>
    <h2>Nuestros Servicios</h2>
    <p>En nuestra inmobiliaria, contamos con un equipo de profesionales apasionados y altamente capacitados en el campo
      inmobiliario. Nuestros agentes inmobiliarios están comprometidos en brindar un servicio excepcional a nuestros
      clientes. Desde agentes de ventas hasta expertos en marketing y especialistas en gestión de propiedades, cada
      miembro de nuestro equipo desempeña un papel crucial en el éxito de nuestra inmobiliaria.</p>
  </section>

  <section>
    <h2>Nuestra Misión y Visión</h2>
    <p>Nuestra misión es ser la inmobiliaria líder en el mercado, brindando servicios de alta calidad y estableciendo
      relaciones duraderas con nuestros clientes. Nos esforzamos por superar las expectativas de nuestros clientes y
      ofrecer soluciones inmobiliarias personalizadas. Nuestra visión es ser reconocidos como el referente en el sector,
      destacando por nuestra excelencia, ética y compromiso con la satisfacción del cliente.
    </p>
  </section>

  <section>
    <h2>Contacto</h2>
    <p>Si deseas obtener más información sobre nuestros servicios o tienes alguna consulta, no dudes en ponerte en
      contacto con nosotros. Puedes visitarnos en nuestra oficina ubicada en Av. Pedro Menendez Gilbert - Guayas,
      llamarnos al 0954213478 o enviarnos un correo electrónico a inmobiliariartg@rtg.com.ec. Nuestro equipo estará
      encantado
      de atenderte y
      brindarte la asistencia necesaria.</p>
  </section>
</main>
