
.scroll-barr::-webkit-scrollbar {//scroll personalizado
  width: 7px;
}

.scroll-barr::-webkit-scrollbar-thumb {//scroll personalizado
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
}

.layout {//container
  max-width: 100%;
}

.img-logo {//logo del nav-barr
  width: 3rem;
}



@media (min-width: 600px) {

  .layout {
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 85%;
  }
}
