<main class="home">
    <section class="intro">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/example-2.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/example-3.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/example-4.jpg" alt="...">
          </div>

        </div>
      </div>
      <div class="text">
        <h1>Bienvenidos a Inmobiliaria RTG</h1>
        <p>Encuentra la propiedad perfecta para ti.</p>
        <a class="btn btn-outline-light" routerLink="/sesion">Explora nuestras propiedades</a>
      </div>
    </section>

  <section>
    <h2>Servicios Destacados</h2>
    <ul>
      <li>Venta de propiedades residenciales y comerciales</li>
      <li>Alquiler de propiedades de alta calidad</li>
      <li>Asesoramiento personalizado para compradores y vendedores</li>
      <li>Gestión de propiedades y alquileres</li>
    </ul>
  </section>

  <section>
    <h2>Por qué elegirnos</h2>
    <ul>
      <li>Experiencia y conocimientos en el mercado inmobiliario</li>
      <li>Equipo profesional y comprometido</li>
      <li>Atención personalizada y asesoramiento experto</li>
      <li>Amplia cartera de propiedades</li>
      <li>Excelente reputación y satisfacción del cliente</li>
    </ul>
  </section>

  <section>
    <h2>Contacto</h2>
    <p>No dudes en contactarnos para obtener más información o programar una cita.</p>
    <p>Teléfono: [número de teléfono]</p>
    <p>Correo electrónico: [correo electrónico]</p>
  </section>
</main>
