<div class="continer">
  <table class="table" >
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of pokemons">
        <th scope="row">{{p.idpokemon}}</th>
        <td>{{p.name}}</td>
        <td>{{p.status }} </td>
        <td>{{p.category.name}}</td>
        <td>
          <a  type="button" class="btn btn-primary m-2" [routerLink]="['edit',p.idpokemon]">
            <i class="bi bi-pencil-square"></i>
          </a>
          <button type="button" class="btn btn-danger " (click)="deleteProduct(p.idpokemon)">
            <i class="bi bi-trash-fill"></i></button>
        </td>
        </tr>
    </tbody>
  </table>

  <a  type="button" class="btn btn-success m-2 w-100"  routerLink="/home/add">Create Pokemon</a>
</div>