<div class="continer scroll-barr">
  <div class="shadow">
    <div class="example-intro-img ">
        <h2 class="intro">Easy way to find a property</h2>
        <p class="p-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda minus
            sapiente. Magni obcaecati laboriosam eum nam error eligendi quia tempore voluptatem.</p>
    </div>
  </div>

    <div class="list">
        <div>
            <h3 class="properties">Rental properties</h3>
        </div>
        <div class="card-continer">
            <div class="card shadow m-2" *ngFor="let i of inmuebles">
                <a class="link" [routerLink]="[i.idinmueble]" style="text-decoration: none; color: black">
                    <div class="contenedor">
                        <img src="assets\img\casa-example.jpeg" class="card-img-top imagen">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{i.direccion}} </h5>
                        <p class="card-text">{{i.tipo}} </p>
                        <p class="card-text">{{i.precio | currency}} </p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
