<!-- <div class="container">

    <h1 class="modal-title fs-5" id="exampleModalLabel">Creacion de nuevo usuario</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form (ngSubmit)="guardarUsuario()" #nuevoForm="ngForm">
            <div class="mb-3">
                <label for="input-nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="input-nombre" placeholder="Nombre" ngModel
                    required>
            </div>
            <div class="mb-3">
                <label for="input-apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="input-apellido" placeholder="Apellido"
                    ngModel required>
            </div>
            <div class="mb-3">
                <label for="input-email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="correo" id="input-email" placeholder="name@example.com"
                    ngModel required>
            </div>
            <div class="mb-3">
                <label for="input-clave" class="form-label">Clave</label>
                <input type="password" class="form-control" name="clave" id="input-clave" placeholder="clave" ngModel
                    required>
            </div>
            <div class="mb-3">
                <label for="input-roles" class="form-label">Roles</label>
                <select class="form-select" name="roles" id="input-roles" ngModel>
                    <option value="ROLE_ADMIN">ADMINISTRADOR</option>
                    <option value="ROLE_USER" selected>USUARIO</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="input-estado" class="form-label">Estado</label>
                <select class="form-select" name="estado" id="input-estado" ngModel>
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </form>
    </div>

</div> -->