<div class="container">
    <form class="card bg-dark rounded-3 form ">
        <div class="card-body ">
        <h1 class="fw-bold fs-2 card-title text-white">Sign in</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3 " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-light rounded-3 " type="submit" routerLink="/home">Sign in</button>
            <small class="text-muted">By clicking Sign in you agree to the terms of use.</small>

        </div>
    </form>
</div>