/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* { }

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}
.img-logo{
    width: 25%;
}

@media (min-width: 600px) {

    .img-logo{
        width: 100px;
    }
    .container {
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}