<div data-bs-spy="scroll" data-bs-smooth-scroll="true">

  <section class="home  p-2" id="home">
    <div class="text">
      <h1>Welcome Home</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <a class="btn btn-outline-light" routerLink="/sesion/signin">join us</a>
    </div>
  </section>
  <section class="about  p-2" id="about">
    <div class="text ">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem non aspernatur hic soluta quos aliquam
        voluptatibus, officiis voluptates dolorum corrupti, ipsam, consequatur a repellendus? Adipisci officia molestias
        amet distinctio doloremque?</p>
    </div>
    <div class="row w-100">
      <div class="col">
        <div class="h-100 p-5  text-bg-dark border rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix
            and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-5  bg-light text-bg-light border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to
            look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's
            content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>


  </section>

  <section class="contact" id="contact">
    <div class="text">
      <h1>Cover your page.</h1>
      <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
        and add your own fullscreen background photo to make it your own.</p>
      <p>
        <a class="btn btn-outline-light" routerLink="/sesion/signin">Learn more</a>
      </p>
    </div>
  </section>


</div>
