<div class="continer">
    <div class="card shadow">
        <p class="card-title ">Requests made</p>
        <div class="card-body scroll-barr">
        <table class="table">
            <thead class="bg-dark text-white ">
              <tr>
                <th scope="col"></th>
                <th scope="col">Address</th>
                <th scope="col">State</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
                <th scope="col">Adviser</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let p of peticion">
                      <th scope="row">{{p.idpeticion}}</th>
                      <td>{{p.inmueble?.direccion}}</td>
                      <td>{{p.estado}}</td>
                      <td>{{p.inmueble?.precio |currency}}</td>
                      <td>{{p.inmueble?.tipo}}</td>
                      <td>{{p.inmueble?.empleado?.nombre}}</td>
                      <td>{{p.inmueble?.empleado?.correo}}</td>
                      <td><a class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                  </tbody>
          </table>
        </div>
    </div>
</div>

<style type="text/css">
    #global {
        height: 300px;
        width: 200px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        overflow-y: scroll;
    }
    #mensajes {
        height: auto;
    }
    .texto {
        padding:4px;
        background:#fff;
    }
    </style>
